<a href="https://colab.research.google.com/github/Krishh-tech/Python/blob/main/Python_Data_Types.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# üêç Python Data Types ‚Äì Your Complete Buddy Notes

üëâ In Python, everything is an **object**. Data types tell Python *what kind of stuff* you‚Äôre dealing with.  
You can imagine them like ‚Äúcategories in your hostel mess menu‚Äù üçõ ‚Üí Veg, Sweet, Drinks‚Ä¶ you get the vibe.

## 1. **Numeric Types** (Numbers Gang üî¢)

* **int** ‚Üí Whole numbers (no decimal). Example: `10`, `-45`, `100000`  
* **float** ‚Üí Numbers with decimal points. Example: `3.14`, `-2.5`, `0.0`  
* **complex** ‚Üí Numbers with real + imaginary part. Example: `3 + 4j`  

üí° Fun fact: Python can handle *really big numbers* (like 10^1000) without breaking a sweat.

In [ ]:
x=7     #integer no., you can not write 0 before regular no.
y=6.11  #float no. means decimal no.'s
z=2+4j  #Complex no. number + Imaginary no.
print(type(x))
print(type(y))
print(type(z))    # we cann't check multiple times.
#because 07 is interpreted as an octal literal, and leading zeros are not allowed in decimal integer literals. Also, the imaginary part of a complex number in Python is represented by j, not i. I will fix these errors and also adjust the print statement to correctly display the types of all variables.

<class 'int'>
<class 'float'>
<class 'complex'>

## 2. **Text Type** (Strings üé∂)

* **str** ‚Üí Text, characters, basically anything inside quotes.  
  Example: `"Python"`, `'Hello'`, `"123"`

In [ ]:
Name="Naruto"
f='hi'
print(f+Name)   # multiplying with no. chalega but multiplying with character pehle defined karna padega.
print(Name[0:2])

#In Python, you can multiply a piece of text (a string) by a number to repeat it. For example, "hi" * 3 would give you "hihihi".

#However, you cannot multiply a piece of text by another piece of text. Python doesn't know what you mean by "hi" multiplied by "Naruto".

#To fix this, you would need to change what you're trying to do. Maybe you meant to print them next to each other? If so, you would use a plus sign + to combine them: print(f + Name) which would give you "hiNaruto".

hiNaruto
Na

## 3. **Sequence Types** (Collection Squad üì¶)

These hold multiple items in one variable.

* **list** ‚Üí Ordered, changeable (mutable), allows duplicates.  
  Example: `[10, 20, 30, 20]`  

* **tuple** ‚Üí Ordered, **unchangeable** (immutable), allows duplicates.  
  Example: `(1, 2, 3, 2)`  

* **range** ‚Üí Represents numbers in a sequence (often used in loops).  
  Example: `range(5)` ‚Üí `0, 1, 2, 3, 4`

In [ ]:
lst=[10,20,30,40]
tpl=(10,20,30,40)
range(5)
print(range)
print(lst)
print(tpl)

for i in  range(5):
  print(i)

IndentationError: expected an indented block after 'for' statement on line 10 (ipython-input-3681181301.py, line 11)

## 4. **Mapping Type** (Dictionary üìñ)

* **dict** ‚Üí Key:Value pairs (like a word and its meaning).  
  Example: `{"name": "Krish", "age": 18}`

In [ ]:
std={"Age":18,"Name":"Krish"}
print(std["Age"])

18

## 5. **Set Types** (Math Club üî¢)

* **set** ‚Üí Unordered, no duplicates allowed. Example: `{1, 2, 3}`  
* **frozenset** ‚Üí Same as set but **immutable**.

In [ ]:
nums = {1, 2, 2, 3, 4}
print(nums)

{1, 2, 3, 4}

## 6. **Boolean Type** (True/False Switch üîò)

* **bool** ‚Üí Only two values: `True` or `False`.  
Useful for conditions, decisions, loops, etc.

In [ ]:
my_clg_is_best=False
print(7>10)
print(type(my_clg_is_best))

False
<class 'bool'>

## 7. **Binary Types** (Low-level Stuff üíª)

* **bytes** ‚Üí Immutable sequence of bytes.  
* **bytearray** ‚Üí Mutable sequence of bytes.  
* **memoryview** ‚Üí View of memory (advanced, used rarely).  

-**bytes**:

Explanation: This is like a sequence of numbers (from 0 to 255) that represent raw data. Once you create a bytes object, you cannot change it. It's immutable.
Example: You often see bytes when dealing with file content, network data, or encoded text.

-**bytearray**:

Explanation: This is similar to bytes, a sequence of numbers (0 to 255), but the big difference is that you can change it after you create it. You can add, remove, or modify the bytes. It's mutable.
Example: You might use a bytearray if you need to build or modify binary data piece by piece.
-**memoryview**:

Explanation: This is a more advanced type. Instead of copying the raw data, a memoryview gives you a way to look at or access the data stored in other binary objects (bytes, bytearray, etc.) without making a copy. It's like having a window into the memory where the data is stored. It's used for efficiency when you're working with very large amounts of data and don't want to make copies. It's less commonly used in everyday programming.

In [ ]:
data = b"Hello"
print(data)

b'Hello'

## üéØ Quick Recap

* Numbers: `int`, `float`, `complex`  
* Text: `str`  
* Sequences: `list`, `tuple`, `range`  
* Mapping: `dict`  
* Sets: `set`, `frozenset`  
* Boolean: `bool`  
* Binary: `bytes`, `bytearray`, `memoryview`

‚ú® Motivation boost: If you master Python data types, you‚Äôve basically unlocked **50% of coding confidence**.  
Because once you know ‚Äúwhat kind of data you‚Äôre playing with‚Äù, the rest becomes super easy.